.login-page {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: row;
    flex-grow: 1;
    margin: 32px auto 0;
    padding-bottom: 32px;
    margin-top: 150px;
    max-width: 935px;
    gap: 2em;
}

.login-signup {
    h1 {
        text-align: center;
    }
    margin-bottom: 10px;
    max-width: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    background-color: #FFFFFF;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    align-items: center;
    button {
        width: 270px;
        height: 36px;
        border-radius: 5px;
        font-weight: bold;
        border: 1px solid #0395F6;
        background-color: #0395F6;
        color: white;
        cursor: pointer;
    }
}

.loginpage-input {
    width: 258px;
    height: 36px;
    margin: 5px;
    border: 1px solid #dbdbdb;
    background-color: #FAFAFA;
    padding-left: 10px;
    border-radius: 5px;
}

.login-link-mainapp {
    p {
        text-align: center;
    }
    margin: 32px auto 0;
    padding-bottom: 32px;
    margin-top: 20px;
    max-width: 935px;
    border-top: 1px solid lightgray;
}