.App {
    text-align: center;
}

.App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #FAFAFA;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App-header h2 {
    text-align: center;
}

html {
    margin: 0;
    background-color: #fafafa;
}

::-webkit-scrollbar {
    background: #e8f2ff;
    display: none;
}

::-webkit-scrollbar-thumb {
    background: #0043e8;
}

// .css-1wlk0hk-MuiAvatar-root {
//     position: inherit
// }
// .css-MuiAvatar-root {
//     position: inherit;
// }
// .css-2s90m6-MuiAvatar-root {
//     position: inherit;
// }
// .css-MuiAvatar-root {
//     position: inherit;
// }