.signUp {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    // border: 1px solid lightgray;
    display: flex;
    width: 100%;
    max-width: fit-content;
    margin: 32px auto 0;
    padding-bottom: 32px;
    gap: 2em;
}

.signup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    align-items: center;
    button {
        width: 270px;
        height: 36px;
        border-radius: 5px;
        font-weight: bold;
        border: 1px solid #0395F6;
        background-color: #0395F6;
        color: white;
        cursor: pointer;
    }
}

.h-screen {
    h1 {
        text-align: center;
    }
    margin-bottom: 10px;
    max-width: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    background-color: #FFFFFF;
    padding: 20px;
}

.signup {
    p {
        color: #8e8e8e;
        font-size: 17px;
        font-weight: 600;
        line-height: 20px;
        margin: 0 40px 10px;
        text-align: center;
    }
    margin-bottom: 10px;
    max-width: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    background-color: #FFFFFF;
}

.signin-input {
    width: 258px;
    height: 36px;
    margin: 5px;
    border: 1px solid #dbdbdb;
    background-color: #FAFAFA;
    padding-left: 10px;
    border-radius: 5px;
}