.app-header {
    height: 60px;
    position: fixed;
    background-color: #FFFAFA;
    width: 100%;
    margin: 0;
    top: 0;
    display: flex;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid lightgray;
}

.app-header-nav {
    text-align: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-header-search {
    display: flex;
    justify-content: center;
    input {
        background-color: #fafafa;
        border-radius: 5px;
        border: none;
        height: 30px;
        width: 215px;
        margin-top: 10px;
        border: 1px solid #dbdbdb;
        text-align: center;
    }
}

.app-header-logo {
    font-size: 1.5rem;
    position: relative;
    text-align: center;
}

// .add-post {
//     display: flex;
//     align-items: center;
//     cursor: pointer;
// }
.navbar-icons {
    margin: 15px 10px;
    cursor: pointer;
}