.body-preventscroll-y {
    overflow: hidden;
}

.modal-background {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 10;
}

.modal-wrapper {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    width: 717px;
    max-width: 834px;
    height: 716px;
    min-width: 348px;
    min-height: 391px;
    max-height: 716px;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
    background: #fff;
    color: #000;
    z-index: 10;
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
}

.modal-inner {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    // border-radius: 10px 0 0 10px;
    // background-color: #000;
}

.modal-content {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.8;
    color: #141414;
    p {
        border-bottom: 1px solid lightgray;
        text-align: center;
    }
}

.modal-close-button {
    position: absolute;
    color: white;
    // top: 20px;
    right: 0px;
    top: 0;
    height: 32px;
    padding: 16px;
    z-index: 10;
    cursor: pointer;
    border: none;
    width: 30px;
}

.modal-content-btn2 {
    background-color: #0095f6;
    border: 1px solid transparent;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    padding: 5px 9px;
    text-align: center;
    text-overflow: ellipsis;
    font-size: 14px;
    color: white;
    // margin-top: 50%;
}

.modal-contant-header {
    // border-radius: 10px;
    width: 100%;
    h1 {
        display: flex;
        font-size: 16px;
        font-weight: 600;
        justify-content: center;
        text-align: center;
        min-width: 0;
        line-height: 24px;
        color: #262626;
        align-items: center;
    }
    border-bottom: 1px solid lightgray;
    .share-button {
        position: absolute;
        top: 0;
        right: 0;
        margin-right: 10px;
        margin-top: 15px;
        border: 0;
        text-align: center;
        background-color: white;
        color: #0095f6;
        cursor: pointer;
        font-size: 0.9em;
    }
}

.modal-content-body {
    // width: 100%;
    // height: 100%;
    position: relative;
    img {
        bottom: 0;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        cursor: grab;
        left: 0;
        position: relative;
        right: 0;
        top: 0;
        user-select: none;
        object-fit: contain;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 500px;
        width: 100%;
        transform: none;
    }
    h3 {
        font-size: 22px;
        line-height: 26px;
        font-weight: 300;
    }
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    // align-self: center;
    width: 100%;
    height: 100%;
}

.conditional-hide {
    gap: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.upload-review {
    text-align: center;
}

.adadada {
    height: 100%;
    width: 100%;
}

.new-story-txt-box {
    display: flex;
    margin-left: 50px;
    margin-right: auto;
}

.previous-modal-content {
    border: none;
    background-color: #FFFFFF;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 10px;
    margin-top: 15px;
    border: 0;
    text-align: center;
    // background-color: white;
    // color: #0095f6;
    cursor: pointer;
    font-size: 0.9em;
}