.details-background {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0%;
    margin: 0;
    margin-bottom: 300px;
    z-index: 10;
}

// 608 450 
.details-wrapper {
    width: 70vw;
    // max-height: 100%;
    // height: 85vh;
    min-width: 608px;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
    background: #fff;
    color: #000;
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 5;
    border-radius: 10px;
}

// .details-wrapper.visible {
//     transition:
// transform: scale(1);
// transform: 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
// opacity: 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
// }
.details-inner {
    // width: 100%;
    // height: 85%;
    // border-radius: 10px 0 0 10px;
    // background-color: #000;
}

.details-content {
    display: flex;
    flex-direction: row;
    line-height: 1.8;
    color: #141414;
    p {
        // border-bottom: 1px solid lightgray;
        text-align: left;
        margin: 12px;
    }
}

.left-side-img img {
    max-width: 100%;
    max-height: 100%;
    // height: auto;
    max-height: auto;
    min-width: 100%;
    resize: both;
    bottom: 0;
    object-fit: contain;
    margin-left: 0;
    // border-top: 1px solid lightgrey;
    background-color: #000;
    aspect-ratio: 1/1;
}

.details-close-button {
    position: absolute;
    // top: 20px;
    // right: 32px;
    top: 0;
    right: 0;
    height: 32px;
    padding: 16px;
    z-index: 10;
    cursor: pointer;
    border: none;
    width: 30px;
    color: white;
}

.details-content-btn2 {
    background-color: #0095f6;
    border: 1px solid transparent;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    padding: 5px 9px;
    text-align: center;
    text-overflow: ellipsis;
    font-size: 14px;
    color: white;
    margin-top: 20%;
}

.chatbox {
    overflow: hidden;
    border-radius: 10px;
    max-width: 500px;
    min-width: 400px;
    // max-height: none;
}

.story-avatar-details {
    margin: 8px;
}

.inner-chat-box {
    max-height: 50vh;
    line-height: 1rem;
    padding: 16px;
    overflow-y: scroll;
    left: 0;
    margin-bottom: 1.5em;
}

.chatbox-fixed-header {
    position: relative;
    height: 60px;
    p {
        display: flex;
        align-items: center;
        border-bottom: 1px solid lightgrey;
    }
    // padding-bottom: 16px;
}

.underline-me {
    border-bottom: 1px solid lightgray;
}

.individual-comments {
    p {
        word-wrap: break-word;
        width: auto;
        overflow: hidden;
        margin-right: 5px;
    }
    span {
        padding-right: 2px;
        position: relative;
    }
    display: flex;
    justify-content: space-between;
    height: fit-content;
    width: auto;
}

.align-right {
    float: right;
    margin-right: 8px;
}

.details-comment-section {
    display: flex;
    border-top: 1px solid lightgrey;
}

.details-input-comments {
    border-top: 1px solid lightgrey;
}