$ce3: 239,
239,
239;
.story-wrapper {
    border: 1px solid lightgrey;
    max-width: 470px;
    margin-bottom: 12px;
    background-color: #FFFFFF;
}

.story-wrapper-inner p {
    text-align: left;
    padding-left: 12px;
    line-height: 80%;
}

.post-img {
    width: 100%;
    object-fit: contain;
    border-top: 1px solid lightgrey;
    // max-height: 587.5px;
    min-width: 470px;
}

.post-username {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 58px;
}

.story-avatar {
    margin: 0;
}

.bold-me {
    font-weight: 500;
}

.unbold-me {
    font-size: smaller;
    letter-spacing: .2px;
    text-decoration: none;
    color: #8e8e8e
}

.post-username p {
    line-height: 50%;
}

.post-username:first-child:hover {
    cursor: pointer;
}

.post-username:first-child {
    font-weight: 500;
    font-size: 0.8em
}

textarea {
    margin-top: auto;
    line-height: 18px;
    align-items: center;
    letter-spacing: 0.05px;
    text-indent: 0px;
    text-shadow: none;
    // margin: 0em;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    text-align: start;
    border: none;
    resize: none;
    text-align: start;
    outline: 0;
    max-height: 80px;
    padding-left: 20px;
    display: flex;
    flex-grow: 1;
    padding-bottom: 20px;
    font-size: 1.2em;
    overflow: hidden;
    border-radius: 10px;
}

.preview-comment-section {
    display: flex;
    border-top: 1px solid #efefef;
    border-top: 1px solid rgba(var(--ce3, 239, 239, 239), 1);
    align-items: center;
    height: 49px;
}

.post-comment {
    border: none;
    background-color: #fff;
    font-weight: 520;
    height: 40px;
    cursor: pointer;
    margin-left: auto;
    margin-right: 5px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 0.9em;
}

.more-section-parent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.more-section {
    display: flex;
    flex-direction: row;
    padding-left: 15px;
    padding-top: 7px;
    gap: 10px;
}

.more-section-hovereffect:hover {
    // background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    // background-clip: text;
    // border-radius: 20%;
    // transform: scale(1.5);
    // color: transparent;
    opacity: .5
}

.more-section-save {
    padding-right: 15px;
    padding-top: 7px;
    cursor: pointer;
}

.underlineme:hover {
    text-decoration: underline;
    cursor: pointer;
}

.cursor-helper:hover {
    cursor: pointer;
}

.more-comments-section {
    text-decoration: none;
}

.asasa {
    p {
        font-size: 0.9em;
    }
}