//PAGES
@import 'pages/_root-cmp';
@import 'pages/_insta-app';
@import 'pages/_login-page';
@import 'pages/_signup-page';
//CMP
@import 'cmp/_app-header';
@import 'cmp/_story-preview';
@import 'cmp/_story-modal';
@import 'cmp/_story-details';